{% extends "admin/admin.html.twig" %}

{% block title %}Les Choux 2018 | Admin utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edition d'un utilisateur</h1>

        {{ form_start(form) }}

        <div class="form-group">
            <label for="user_email">Adresse email</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="user_username">Nom</label>
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="user_roles">Rôles</label>
            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
