<ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link text-red" href="{{ path('home') }}"><img src="image/picto1.png" width="38" height="35"/></a></li>
    <li class="nav-item"><a class="nav-link text-red nav-link-text" href="{{ path('front_main_where') }}">C’EST OÙ ?</a></li>
    <li class="nav-item"><a class="nav-link text-red nav-link-text" href="{{ path('front_main_program') }}">C’EST QUOI LE PROGRAMME ?</a></li>
    <li class="nav-item"><a class="nav-link text-red nav-link-text" href="{{ path('front_main_details') }}">LES DÉTAILS HYPER IMPORTANTS</a></li>
    <li class="nav-item"><a class="nav-link text-red nav-link-text" href="{{ path('front_main_answer') }}">R.S.V.P.</a></li>
    <li class="nav-item"><a class="nav-link text-red nav-link-text" href="{{ path('front_main_contact') }}">CONTACTS</a></li>
</ul>
